<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <a href class="navbar-brand href="#">&copy; Copyright by Muntaha Ali </a>
    <a href ="https://www.linkedin.com/in/muntaha-ali-923a3b24b/"  target = "_blank">
    <i class="fa-brands fa-linkedin"></i> linkedin
    </a>
    </div>

<a href ="https://github.com/muntahaali1">
    <i class="fa-brands fa-github"></i> MyGitHub

    </a>
    
</nav>