<% include partials/header.ejs%>
<% include partials/navbar.ejs%>



  <div class="Video" >
        <video width ="400" height="400" controls>
        <source src="Assets/images/AboutMe.mp4" type ="video/mp4"> 
        </video> 
     

    <div class="AboutMe">
        <p>Hello! I hope you're all doing well. I'm currently in my second year studying Tech Management. It's my first time using HTML, and it's quite interesting. In the past year, I've learned Python and we have learned how to make games for certain projects, which was really fun.</p>
    </div>

    
</body>
</html>

<% include partials/bottomnav.ejs%>
<% include partials/footer.ejs%>