<% include partials/header.ejs%>
<% include partials/navbar.ejs%>
<% include partials/bottomnav.ejs%>
<% include partials/footer.ejs%>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Muntaha's Web Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <div id="wrapper">
            <div id="banner">
            </div>
        </div>
    </header>
        

    <div id="right-column"></div>
    <h2>Python related projects</h2>
    <p>Hang Man</p>
    <div class="box"><p>The hangman game is a cooperative game. One participant chooses a phrase in this game. Other players have a limited number of guesses to figure out which characters are in the word. The participants score if they can guess all of the letters in the word within a specified number of attempts. Otherwise, they will be defeated.</p></div>
    <p>Substitution Cipher</p>
    <div class="box"><p> A substitute Cypher is a method of encryption when plaintext units replace themselves with ciphertext according to a specified system</p></div>
    
    <div id="footer">
        
    </div>
    </div>
</body>
</html>
