<% include partials/header.ejs%>
<% include partials/navbar.ejs%>
<% include partials/bottomnav.ejs%>
<% include partials/footer.ejs%>




<!DOCTYPE html>
<html>
    <div class="AboutMe">
    <div class="image">

    <img src= "Assets/images/muntaha.jpeg" alt="muntaha's image" width="180" height="300">


    <h2> Know More about the Creator of this Website!</h2>
        <p>Hello, I'm assuming everyone is having a wonderful day to! My name is Muntaha Ali. I'm in my second year of studying Technology Management. It's my first time using HTML, and I'm enjoying it. I've been learning Python in the last year, and we've learned how to develop games for various projects, which has been a lot of fun. Creating this website for an assignment has been both enjoyable and challenging. I hope you enjoy it!.</p>
    </div>
</body>
</html>



