<% include partials/header.ejs%>
<% include partials/navbar.ejs%>
<% include partials/bottomnav.ejs%>
<% include partials/footer.ejs%>






<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Form</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
<h1>Contact Page</h1>
</div>
</body>
</html>

<form action="sidratulmuntaha.ali04@gmail.com" ?subject=Signup Form Method="post"
enctype="text/plain" name="form">
</form>

<p>
<label for="name">Name</label>
<input type="text" name="name" size="32">
</p>
</form>

<p>
<label for="email">Email</label>
<input name="email" type="email" size="40">
</p>

<p>
    <Label for="Messages"> Messages</Label><br>
    <textarea name="Messages" cols="60" rows="6"></textarea>
</p>

<p><input type="submit" value="Click here to submit the form"/></p